<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4937d">  <td>21/07/11 12:29:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.initiateService(java.lang.String,java.lang.String)[pri:0, instance:tests.WeatherTest@10feca44]">initiateService</td> 
  <td>main@915500720</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/07/11 12:29:52</td>   <td>904</td> <td>&nbsp;</td><td title="&lt;&lt;WeatherTest.finish()[pri:0, instance:tests.WeatherTest@10feca44]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@915500720</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/07/11 12:29:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.initiateService(java.lang.String,java.lang.String)[pri:0, instance:tests.WeatherTest@10feca44]">initiateService</td> 
  <td>main@915500720</td>   <td></td> </tr>
<tr bgcolor="f4937d">  <td>21/07/11 12:29:48</td>   <td>-3285</td> <td>&nbsp;</td><td title="&gt;&gt;WeatherTest.setUP()[pri:0, instance:tests.WeatherTest@10feca44]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@915500720</td>   <td></td> </tr>
</table>
